@import url(https://unpkg.com/bootstrap@4.6.0/dist/css/bootstrap.min.css);/* You can add global styles to this file, and also import other style files */


:root {
  --primary-background: #051622;
  --heading-color: #1BA098;
  --border-color: #DEB992;
  --white-color: #FFFFFF;
  --secondary-background: #0B2D45;
}

.primary-background {
  background-color: var(--primary-background);
}

.heading-color {
  color: var(--heading-color);
}

.onHover:hover {
  opacity: 50%;
  cursor: pointer;
}

.onHover {
  transition: 0.25s;
}

.cursor-pointer {
  cursor: pointer;
}

.visualizer {
  border: 1px solid white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  background-color: var(--primary-background);
}

.border-bottom {
  border-bottom: 2px solid #DEB992;
}

.white-color {
  color: var(--white-color);
}


